@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input[type='file' i] {
  align-items: center;
}
input[type='file']::-webkit-file-upload-button,
input[type='file']::file-selector-button {
  font-size: 10px;
  padding: 4px 10px;
  background: #1a73e8;
  border-radius: 4px;
  color: #fff;
  border: none;
  /* margin-inline-start: -1rem;
  margin-inline-end: 1rem; */
}

/* Date Range */

.container {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 16px;
}

@media (max-width: 960px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 460px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
